
#about  {
    #my_info {
        width: 100vw;
        margin: 100px 200px;
        text-align: center;
        @include extra-small-only {
            margin: 100px 20px;
        }
        @include small-and-above {
            margin: 100px;
        }
    }
   

    



        
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}