
#about  {
    #my_info {
        width: 100vw;
        height: 100vh;
        margin: 100px 200px;
        text-align: center;
    }
   

        
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}