
#about  {
    width: 100vw;
    text-align: center;
    #my_info {
        @include extra-small-only {
            padding: 100px 30px;
            p {
                // text-align: left;
            }
        }
        @include small-and-above {
            padding: 100px;
        }
    }
   


        
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}