

.contact {
    width: 100vw;
    height: 100vh;
    background: #000;
    margin-top: 250px;
    .contact_h3 {
        color: #fff;
    }


    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}