

#design  {
    width: 100vw;
    text-align: center;
    #design_projects {
        .single_design_project_container {
            margin-top: 150px;
            .project_description {
                padding: 25px 250px;
                @include extra-small-only {
                    padding: 50px 30px;
                    // text-align: left;
                }
                @include small-and-above {
                    padding: 50px;
                }
                @include medium-and-above {
                    padding: 25px 250px;
                }
            }

            .design_project {
                height: 500px;
                width: inherit;
                background: rgb(207, 207, 207);

                @include extra-small-only {
                    margin: 50px 20px;
                }
                @include small-and-above {
                    margin: 50px;
                }
                @include medium-and-above {
                    margin: 25px 50px;
                }
            }
        }
    
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
}



/****** feature pitch ******/

.design_feature {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    .col {
        width: 50%;
        padding: 0;
        margin: 0;
        img {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    .slideshow {
        position: relative;
        list-style: none;
        .slide {
            width: 100%;
            position: absolute;
            transition: opacity 1.5s ease-in;
        }
    }
    .design_pitch {
        width: 100%;
        height: 700px;
        background: #000 url("../imgs/design/product_design.svg") center top no-repeat;
        background-size: 100%;
        // animation: flashPitch 3s infinite;
    }



    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}




// @keyframes flashPitch {
//     0% {background: #000 url("../imgs/design/identity_design.svg") center top no-repeat;}
//     50% {background: #000 url("../imgs/design/interaction_design.svg") center top no-repeat;}
//     100% {background: #000 url("../imgs/design/user_experience_design.svg") center top no-repeat;}
// }


// @-webkit-keyframes flashPitch {
//     0% {background: #000 url("../imgs/design/identity_design.svg") center top no-repeat;}
//     33% {background: #000 url("../imgs/design/interaction_design.svg") center top no-repeat;}
//     66% {background: #000 url("../imgs/design/user_experience_design.svg") center top no-repeat;}
//     100% {background: #000 url("../imgs/design/product_design.svg") center top no-repeat;}
// }
// @-moz-keyframes flashPitch {
//     0% {background: #000 url("../imgs/design/identity_design.svg") center top no-repeat;}
//     33% {background: #000 url("../imgs/design/interaction_design.svg") center top no-repeat;}
//     66% {background: #000 url("../imgs/design/user_experience_design.svg") center top no-repeat;}
//     100% {background: #000 url("../imgs/design/product_design.svg") center top no-repeat;}
// }

// @keyframes flashPitch {
//     0% {background: #000 url("../imgs/design/identity_design.svg") center top no-repeat;}
//     33% {background: #000 url("../imgs/design/interaction_design.svg") center top no-repeat;}
//     66% {background: #000 url("../imgs/design/user_experience_design.svg") center top no-repeat;}
//     100% {background: #000 url("../imgs/design/product_design.svg") center top no-repeat;}
// }