

#dev  {

    background: #1b1c21;



    width: 100vw;
    text-align: center;
    margin: 100px 0px 250px 0px;
    #dev_projects {
        .single_dev_project_container {
            margin-top: 150px;

            .project_description {
                @include extra-small-only {
                    padding: 50px 30px;
                    font-size: .75em;
                }
                @include small-and-above {
                    padding: 50px;
                }
                @include medium-and-above {
                    padding: 25px 250px;
                }
            }


            .technology {
                padding: 25px;
                font-size: .85em;
                color: blue;
                span {
                    color: magenta;
                }
            }


            .dev_project {
                margin: 0 auto;
                width: 100vw;
                height: 100vh;
                // background: rgb(243, 243, 243)  center center no-repeat / 90% auto;
                background: transparent  url("../imgs/macbook___pro.png") center center no-repeat;
                background-size: 74%;
                // background-image: url("../imgs/macbook.png");

    
                @include extra-small-only {
                    display: none;
                }
                // @include small-and-above {
                //     // margin: 50px;
                // }
                // @include medium-and-above {
                //     // margin: 25px 250px;
                // }
    
            
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }

            .dev_project_mobile  {
                margin: 0 auto;
                margin-top: 100px;
                width: 300px;
                height: 100vh;
                background: transparent center top no-repeat;
                background-image: url("../imgs/iphone.png");
                background-size: 90%;
                display: none;
                @include extra-small-only {
                    display: block;
                }
            }




            .dev_project_2_mobile {
                margin: 0 auto;
                margin-top: 100px;
                width: 100vw;
                height: 100vh;
                background: transparent center top no-repeat;
                background-image: url("../imgs/black_hand_iphoneX.png");
                background-size: 100%;
                display: none;
                @include extra-small-only {
                    display: block;
                }
            }

        }
    }
}








.picture {
    width: 100vw;
    height: 100vh;
    background: blue url("../imgs/flower.png") center center no-repeat / 75% auto;
}