#intro {
    width: 100vw;
    height: 100vh;
    h1 {
        text-align: center;
        animation: fadeIn;
        animation: slideInUp;
        span {
            padding: 100px;
            color: #444;
            font-size: .5em;
        }
        
        @include extra-small-only {
            font-size: 1em;
            padding: 50px;
        }
        @include small-and-above {
            font-size: 1.5em;
        }
        @include medium-and-above {
            font-size: 2em;
        }
    }

        
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
