#intro {
    width: 100vw;
    height: 100vh;
    h1 {
        color: rgba($color: #fff, $alpha: 1.0);
        font-family: 'ITC Avant Garde Gothic Std Bold', helvetica-light, sans-serif;
        text-transform: capitalize;
        text-align: center;
        animation: fadeIn;
        animation: slideInUp;
        span {
            color: #444;
            font-size: .5em;
            font-family: 'lato-light', 'helvetica-light', sans-serif;
            // font-family: 'ITC Avant Garde Gothic Std Bold', helvetica-light, sans-serif;
        }
        
        @include extra-small-only {
            font-size: 1.5em;
            padding: 50px;
            span {
                font-size: .4em;
            }
        }
        @include small-and-above {
            font-size: 1.5em;
        }
        @include medium-and-above {
            font-size: 2em;
            // padding: 0 100px;
        }
    }

        
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
