
.my_nav, .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, .75);
    font-family: 'lato-light', 'helvetica-light', sans-serif;
    .navbar-brand {
        font-size: .9em;
        color: #000;
    }
    a {
        font-size: .85em;
        // text-transform: uppercase;
        color: #666;
        &:hover {
            color: #000;
            font-weight: bold;
        }
    }
}
